.navbar-expand-lg {   
    font-size: 35px;
}
nav.bg-light {
    background-color: #0772a1!important;
}
.rounded-form {
    margin-top: 20px;
    border-radius: 20px;
}

.required
{
    color: red;
}

label.required:after
{
    color: red;
    content: " *";
}