<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Appender section -->
    <Appenders>
        <!-- File appender -->
        <File name="file" fileName="logs/logs.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <!-- Logger section -->
    <Loggers>
        <!-- Root logger -->
        <Root level="TRACE">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>