<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Appender section -->
    <Appenders>
        <!-- File appender -->
        <File name="info" fileName="log/info.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n %throwable{4}</Pattern>
            </PatternLayout>
        </File>
        <File name="fatal" fileName="log/fatal.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <!-- Logger section -->
    <Loggers>
        <!-- Root logger -->
        <Root level="ERROR">
            <AppenderRef ref="fatal"/>
        </Root>
        <logger name="by.training.task1oop" level="INFO" additivity = "false">
            <AppenderRef ref="info"/>
        </logger>
    </Loggers>
</Configuration>