<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name ="Test suite">
    <test name = "Task1Test">
        <packages>
            <package name="test.task1oop.bean.entity"/>
            <package name="test.task1oop.bean.factory"/>
            <package name="test.task1oop.bean.validator"/>
            <package name="test.task1oop.controller.command"/>
            <package name="test.task1oop.service.parser"/>
            <package name="test.task1oop.service.reader"/>
            <package name="test.task1oop.service"/>
        </packages>
    </test>
</suite>