<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name ="Test suite">
    <test name = "Task1Test">
        <packages>
            <package name="test.task3composite.bean"/>
            <package name="test.task3composite.dao"/>
            <package name="test.task3composite.service"/>
        </packages>
    </test>
</suite>