<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name ="Test suite">
    <test name = "Task1Test">
        <packages>
            <package name="test.task2thread.bean"/>
            <package name="test.task2thread.controller.command"/>
            <package name="test.task2thread.dao"/>
            <package name="test.task2thread.service"/>
        </packages>
    </test>
</suite>