<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Appender section -->
    <Appenders>
        <!-- File appender -->
        <File name="main" fileName="log/main.log">
            <PatternLayout>
                <Pattern>%d %highlight{%p} %style{%C{1.} [%t] %m}{bold,green}%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <!-- Logger section -->
    <Loggers>
        <!-- Root logger -->
        <Root level="DEBUG">
            <AppenderRef ref="main"/>
        </Root>
        <logger name="main" level="DEBUG" additivity = "false">
            <AppenderRef ref="main"/>
        </logger>
        <logger name="STDOUT" level="INFO">
            <AppenderRef ref="STDOUT"/>
        </logger>
    </Loggers>
</Configuration>