.btn.glo{
    text-decoration:none;
    background-image: linear-gradient(to left,transparent,transparent 50%,#0772a1 50%,#0772a1);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}
.btn.glo:hover {
    background-position: 0 0;
    color:#fff;
}